/* Content Body */
.content-body {
    padding: 20px;
    background-color: #e5e9f0;
}

/* Controls */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 55%; 
}

.search-bar {
    padding: 20px 40px ; 
    font-size: 16px;
    width: 170%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
/* Optional: Text color on focus */
.search-bar:focus {
    border-width: 1px;
    border-color: #a7a7a7; 
    box-shadow:  0 0 3px #818181;
    outline: none; 
}

.filter-btn {
    position: absolute;
    right: 25px; 
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.filter-btn img {
    width: 20px;
    height: 20px;
}
.left-icon-btn {
    position: absolute;
    left: 13px; 
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.left-icon-btn img {
    width: 20px;
    height: 20px;
}


/* Stylings for Dropdown in Filter */
.employee-dropdown {
    position: absolute;
    right: 0;
    top: 104%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px; 
    z-index: 1000;
}

/* Title styling */
.employee-dropdown h4 {
    color: #333;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
/* Container for left and right columns */
.employee-dropdown-columns {
    display: flex;
    align-items: stretch; 
}
/* Style for left column */
.employee-left-column {
    background-color:  #e0e0e052;
    color: #333;
    flex: 1;
    padding: 10px;
}
/* Style for right column */
.employee-right-column {
    color: #333;
    flex: 1;
    padding: 10px;
}
/* Style for the divider */
.employee-divider {
    width: 1px;
    background-color: #ccc; 
    height: auto; 
    margin: 0 10px; 
}

/* CSS For Add Employee Button */
.add-employee-btn1 {
    text-decoration: none; 
    color: #012d74;
    padding: 14px 17px;
    font-size: 16px;
    border-radius: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 1px solid #012d74; 
}

.add-employee-btn1:hover {
    color: white;
    background-color: #001a44;  
    transform: scale(1.01); 
    border-color: #002966; 
}

.add-employee-btn1 span {
    margin-left: 8px;
    font-size: 16px;
}

/* Employee Table */
.employee-table table {
    width: 97%; 
    margin: 0 auto; 
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}
.employee-table th, .employee-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid #b8b8b8;
    color: black;
}
.employee-table th {
    background-color: #d9d9d9;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 17px;
}
.employee-table td {
    text-align: center;
    font-size: 15px;
}
.employee-table td:nth-child(1){
    text-align: left;
}
.employee-table td:nth-child(2){
    text-align: left;
}
.employee-table td:nth-child(3){
    text-align: left;
}
/* Status in Table CSS*/
.status {
    padding: 8px 15px;
    border-radius: 5px; 
    font-size: 14px; 
    color: #fff;
    display: inline-block;
    min-width: 60px;
}
.status.active {
    background-color: #007bff;
}
.status.resigned {
    background-color: #dc3545;
}

/* Action Buttons */
.view-btn, .edit-btn, .delete-btn {
    padding: 8px 18px;
    font-size: 14px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    margin-right: 5px;
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}
/* View Button */
.view-btn {
    background-color: white;
    color:  #53649c;
    border: 1px solid #53649c;
}
/* Hover Effects */
.view-btn:hover {
    color: white;
    background-color: #3d4c7f; 
}
.edit-btn {
    background-color: white;
    color: #e99f37;
    border: 1px solid #f0ad4e;
}
.edit-btn:hover {
    color: white;
    background-color: #ec971f; 
}
.delete-btn {
    background-color: white;
    color:#d9534f;
    border: 1px solid #d9534f;
}
.delete-btn:hover {
    color: white;
    background-color: #c9302c; 
}





/* OLD CSS FOR MODAL */


/* General Css Adjustments for Modal */ /* General Css Adjustments for Modal */ /* General Css Adjustments for Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Ensure modal is above other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
    max-width: 800px;
    width: 90%; 
    padding: 20px;
    background-color: #e5e9f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; 
    top: 53%;
    transform: translateY(-50%); 
    margin: auto;
    z-index: 1001; 
}
.close {
    position: absolute;
    top: 10px;
    right: 10px; 
    font-size: 20px; 
    cursor: pointer; 
    color: #333; 
}


/* Toggle Adjustment for Personal and Employment Tab */ /* Toggle Adjustment for Personal and Employment Tab */
.personal-employment-text {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #ccc;
    margin-bottom: 7px;
}
.toggle-option {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 1px;
    transition: background-color 0.1s, color 0.1s;
    display: inline-block; /* Ensure proper spacing */
}
.toggle-option:hover {
    background-color: #f0f0f0; /* Light grey on hover */
}
.toggle-option.active {
    background-color: #012d74;
    color: white;
}


/* Adjustments for Personal Tab */  /* Adjustments for Personal Tab */  /* Adjustments for Personal Tab */

.profile-container {  /* Profile Container Adjustments for Personal and Employment */ 
    display: flex;
    align-items: center;
    gap: 10px; 
}
.profile-picture-icon {
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.profile-picture-icon img {
    width: 80px; 
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}
.profile-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-texts {
    margin-bottom: 10px; 
}

.new-employee {
    font-size: 15px; 
    font-weight: bold;
}
.new-position {
    font-size: 13px; 
    color: #666;
    margin-top: 5px;
}
.profile-buttons { /* Profile buttons */
    display: flex;
    gap: 5px; 
    margin-top: 8px;
}
.add-employee-btn2, .cancel-btn { /* Styling for buttons "Add Employee / Cancel */
    padding: 5px 10px;
    font-size: 12px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.3s; 
}
.add-employee-btn2 { /* Hover for buttons */
    background-color: #012d74; 
    color: #fff; 
}
.add-employee-btn2:hover {
    background-color: #001a44; /* Darker shade of blue */
    transform: scale(1.05); 
}
.cancel-btn {
    background-color: #53649c; 
    color: #fff; 
}
.cancel-btn:hover {
    background-color: #3d4a7e; /* Darker shade of blue */
    transform: scale(1.05); 
}
.profile-buttons3 {
    display: flex;
    gap: 5px; 
    margin-top: 8px;
}
.form-column.column-1 {
    flex: 2; /* Make this column wider */
}
.form-column.column-2 {
    flex: 1; /* Make this column narrower */
}
/* Name, Sex, and Nationality Container */
.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/*
Address and Social Media Links Container 
.address-social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
*/
/* Adjusted Layout for Buttons */

/*
.form-row3 {
    display: flex;
    justify-content: flex-end; 
    margin-top: 17px;
    background-color: #73c550;
}
*/
/* General Form Group Styling */
.form-group {
    flex: 1;
    margin-right: 12px;
}
.form-row .form-group {
    flex: 1;
    margin-right: 10px;
    margin-top: 1px;
}
.form-row .form-group:last-child {
    margin-right: 0;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
}
/* Adjustments on text-fields color in Personal Tab */
.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    max-width: 250px; /
}
/* Adjustments for Width */
.form-group input[type="text"] {
    max-width: 200px; 
}
.form-group input[name="middleName"],
.form-group input[name="extensionName"] {
    max-width: 150px; /* Adjust width as necessary */
}

/* Adjusted Layout for Two Columns */  /* Adjusted Layout for Two Columns */  /* Adjusted Layout for Two Columns */
.column-1, .column-2 {
    flex: 1;
}
.column-1 {
    margin-right: 20px; /* Space between columns */
}

 /*Allows to adjust labels of Columnt 1 and Column 2 */
.column-1 .form-group {
    position: relative;
    margin-bottom: 15px;
}
.column-2 .form-group {
    margin-bottom: 15px;
}
.column-2 {
    display: flex;
    flex-direction: column;
}
/* Adjust spacing for individual form groups within the address fields */
.address-fields {
    display: flex; 
    gap: 10px; 
    flex-wrap: wrap; 
}
.address-group .form-group {
    margin: 0; 
    padding: 0; /
}
.address-fields input {
    box-sizing: border-box; /* Include padding and border in the width */
}
/* Adjust label margins if needed */
.address-fields .field-label {
    display: block; 
    margin-bottom: 5px; 
}





/*
Half-Width Fields for Sex and Nationality 
.half-field {
    width: 48%;
}
*/



/* Focus Color on Text-Fields in Personal and Employment Tab */
input:focus {
    border-color: #0056b3; 
    outline: none; 
}
/* Personal Tab Text-Field adjustments */
input#lastName {
    width: 109px; 
    max-width: 100%; /* Allow it to shrink if needed */
}

input#firstName {
    width: 125px;
}

input#middleName, input#extName {
    width: 90px;
}

input#emailAddress {
    width: 250px;
    max-width: 100%; /* Allow it to shrink if needed */
}

/* Ensuring Contact Number field width */
input#contactNumber {
    width: 220px; /* Ensure this width is applied */
    max-width: 100%; /* Allow it to shrink if needed */
}


input#houseNo {
    width: 180px;
}

input#barangay {
    width: 60px;
}

input#city, input#province  {
    width: 120px;
}

/* 
Comment only, naliligaw na CSS

.profile-details .profile-name,
.profile-details .profile-position {
    margin-bottom: 100px;
}
*/

/*
Dim Overlay 
.dim-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; 
    z-index: 999; 
}
*/




/* ADJUSTMENTS FOR PERSONAL VIEW */

.edit-employee, .delete-employee {
    padding: 5px 10px;
    font-size: 12px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.3s; /* Smooth transitions */
}
/* Hover for buttons */
.edit-employee {
    width: 70px;
    border-radius: 11px;
    background-color: #012d74; 
    color: #fff; 

}
.edit-employee:hover {
    background-color: #001a44; /* Darker shade of blue */
    transform: scale(1.05); /* Slightly enlarge the button */

}

.delete-employee{
    border-radius: 11px;
    background-color: #c71414; 
    color: #fff;
 
}

.delete-employee:hover {
    background-color: #8d1515; /* Darker shade of blue */
    transform: scale(1.05); /* Slightly enlarge the button */
}



.employment-profile .profile-buttons button {
    padding: 5px 10px;
    font-size: 12px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.3s; /* Smooth transitions */
}
.employment-profile .profile-container-employment-profile{
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between image and details */
}
.employment-profile .profile-picture-icon{
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.employment-profile .profile-picture-icon img{
    width: 80px; 
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}
.employment-profile .profile-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.employment-profile .profile-texts {
    margin-bottom: 10px; 
}
.employment-profile .new-employee {
    font-size: 15px; 
    font-weight: bold;
}
.employment-profile .new-position {
    font-size: 13px; 
    color: #666;
    margin-top: 5px;
}

.employment-profile .add-employee-btn2 {
    background-color: #012d74; 
    color: #fff; 
}
.employment-profile .add-employee-btn2:hover {
    background-color: #001a44; /* Darker shade of blue */
    transform: scale(1.05); /* Slightly enlarge the button */
}
.employment-profile .cancel-btn {
    background-color: #53649c; 
    color: #fff; 
}
.employment-profile .cancel-btn:hover {
    background-color: #3d4a7e; /* Darker shade of blue */
    transform: scale(1.05); /* Slightly enlarge the button */
}
.employment-container {
    display: flex; /* Use flexbox for layout */
}

.left-column {  /* LEFT Column of EMPLOYMENT TAB */
    flex: 1; /* Take up half the width */
    padding: 10px; /* Add padding for spacing */
    margin-bottom: -14px;
}

.right-column { /* RIGHT Columnt of EMPLOYMENT TAB */
    background-color: #cccccc42;
    border-radius: 5px;
    flex: 1; /* Take up half the width */
    padding: 10px; /* Add padding for spacing */
    margin-bottom: -14px;
}


.employment-right-column {
    /* Other styling */
}
.schedule-title {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
 
}
.schedule-details {
    display: flex;
    flex-direction: column;
}
.schedule-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.schedule-date,
.schedule-time {
    width: 50%;
    font-size: 1em;
}
.date-fields {
    display: flex;
    flex-wrap: wrap;
}
.date-fields input {
    flex: 1 0 13%; /* Adjust based on the number of fields and available space */
    margin: 2px; /* Space between fields */
    padding: 8px;
    border: 1px solid #ccc; /* Default border color */
}
.time-fields {
    display: block;
}
.time-fields input {
    flex: 1 0 48%; /* Adjust based on the number of fields and available space */
    margin: 2px; /* Space between fields */
    padding: 8px;
    border: 1px solid #ccc; /* Default border color */
    width: 70%;
}
.schedule-date {
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
    margin-right: 35px;
}
.schedule-time {
    font-size: 14px;
    text-align: left;
}
/* Two-Column Layout */
.two-column-container {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin-right: 10px; /* Adjust spacing between columns if needed */
}

.column:last-child {
    margin-right: 0; /* Remove margin for the last column */
}

.column label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.column input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Default border color */
    margin-bottom: 20px;
    height: 39px;
}
.column select {
    border: 1px solid #ccc; /* Default border color */
    height: 37px; /* Adjust the height for dropdown to match the input field height */
    width: 100%;
    padding: 8px; /* Padding inside the dropdown */
    margin-top: 3px;
    margin-bottom: 35px;
}
.licenses-fields {
    display: flex;
    flex-direction: column;
}
.licenses-fields input {
    margin-bottom: 10px; /* Adjust spacing between license fields if needed */
}
.employment-type-dropdown {
    border: 1px solid #ccc; /* Default border color */
    padding: 8px; /* Padding inside the dropdown */
}
/* Form Container */
.form-container {
    display: flex;
    gap: 10px;
}
/* Form Columns */
.form-column {
    flex: 1; /* Allow columns to grow equally */
    padding: 10px; /* Add padding around columns */
    box-sizing: border-box; /* Include padding in element's total width/height */

}
/* Personal View Text-Fields Adjustments*/

input#viewLastName {
    width: 105px; 
}

input#viewFirstName {
    width: 125px;
}

input#viewMiddleName, input#viewExtName {
    width: 90px;
}

input#viewEmailAddress {
    width: 1200px;
}

input#viewContactNumber {
    width: 100px;
}

input#viewHouseNo {
    width: 180px;
}

input#viewBarangay {
    width: 60px;
}

input#viewCity, input#viewProvince  {
    width: 120px;
}




/* Stylings for Personal and Employment Tab */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-link {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 1px;
    transition: background-color 0.1s, color 0.1s;
    display: inline-block; /* Ensure proper spacing */
}

.tab-link.active {
    background-color: #012d74;
    color: white;
}

/* Styling for Edit and Delete Button for View Personal and Employment Tab*/
.view-profile-buttons{
    transition: background-color 0.4s, transform 0.3s; /* Smooth transitions */ 
    
}

.viewEditEmployment-btn {
    border-width: 0em;
    padding: 4px 10px;
    width: 70px;
    border-radius: 11px;
    background-color: #012d74; 
    color: #fff; 
}

.viewEditEmployment-btn:hover {
    transition: background-color 0.4s, transform 0.3s; /* Smooth transitions */
    background-color: #001a44; /* Darker shade of blue */
    transform: scale(1.05); /* Slightly enlarge the button */
}

.viewDeleteEmployment-btn {
    border-width: 0em;
    padding: 4px 10px;
    width: 60px;
    border-radius: 11px;
    background-color: #c71414; 
    color: #fff; 
}

.viewDeleteEmployment-btn:hover {
    transition: background-color 0.4s, transform 0.3s; /* Smooth transitions */
    background-color: #8d1515; /* Darker shade of blue */
    transform: scale(1.05); /* Slightly enlarge the button */
}

/* Default styles for the edit button */
button.edit-employee, button.viewEditEmployment-btn {
    background-color: #f0f0f0; /* Default color for read mode */
    color: rgb(255, 255, 255);
    padding: 4px 10px;
    cursor: pointer;
    background-color: #012d74;
    transition: background-color 0.3s ease;
}

/* Style for edit mode */
button.edit-employee.edit-mode, button.viewEditEmployment-btn.edit-mode {
    background-color: #4CAF50; /* Green color for edit mode */
    color: white;
}

/* Input fields in read mode */
#personalContentViewOnly input[readonly], #employmentContentViewOnly input[readonly] {
    background-color: #e9e9e9; /* Light grey for read mode */
    border: 1px solid #ccc;
    cursor: not-allowed;
}

/* Select fields in read mode */
#personalContentViewOnly select:disabled, #employmentContentViewOnly select:disabled {
    background-color: #e9e9e9; /* Light grey for read mode */
    border: 1px solid #ccc;
    cursor: not-allowed;
}

/* Input fields in edit mode */
#personalContentViewOnly input:not([readonly]), #employmentContentViewOnly input:not([readonly]) {
    background-color: #fff; /* White for edit mode */
    border: 1px solid #012d74;
    cursor: text;
}

/* Select fields in edit mode */
#personalContentViewOnly select:not(:disabled), #employmentContentViewOnly select:not(:disabled) {
    background-color: #fff; /* White for edit mode */
    border: 1px solid #012d74;
    cursor: pointer;
}






