/* Improved Styles for Patients Table */
.patients-content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Patient Title */
.patients-title {
    font-size: 24px;
    font-weight: normal;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 18px;
}

/* Hospital Title */
.patients-title .hospital-patients {
    font-weight: bold;
    margin-left: 5px;
}

/* Back Button Styles */
.back-patient-btn {
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.back-patient-btn img {
    width: 24px;
    height: auto;
}

/* Patient Search Bar Styles */
.patient-search {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.patient-search-icon-left {
    position: absolute;
    left: 10px;
    top: 54%;
    transform: translateY(-50%);
}

.patient-search-icon-right {
    position: absolute;
    right: 272px; 
    top: 53%;
    transform: translateY(-50%);
    opacity: 0.5;
}

.patient-search-icon-left img,
.patient-search-icon-right img {
    width: 20px;
    height: 20px;
}

.patient-search-input {
    width: 75%;
    padding: 19px 30px 19px 30px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}
.patient-search-input:focus{
    border-width: 1px;
    border-color: #a7a7a7;
    box-shadow: 0 0 3px #818181;
    outline: none;
}

/* Patient Filter Dropdown */
.patient-filter-wrapper {
    position: relative;
    margin-left: 15px;
    display: flex;
    align-items: center;
    text-align: right;
}

.patient-filter-dropdown {
    padding: 19px 123px 19px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    background-color: #fff;
    appearance: none; 
    color: #818181;
}
.patient-filter-dropdown:focus{
    border-width: 1px;
    border-color: #a7a7a7;
    box-shadow: 0 0 3px #818181;
    outline: none;
}

/* Patient Filter Icon */
.patient-filter-icon {
    position: absolute;
    right: 11px;
    pointer-events: none; 
}
.patient-filter-icon img {
    width: 20px;
    height: 20px;
}

/* Hospital Patients Table CSS */
.hospital-patients-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.hospital-patients-table th, 
.hospital-patients-table td {
    color: black;
    padding: 15px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.hospital-patients-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
}

.hospital-patients-table tbody tr:hover {
    background-color: #f1f1f1;
}
.hospital-patients-table td:nth-child(2) {
    text-align: left;
}
.hospital-patients-table td:nth-child(6) {
    text-align: center;
}
/* Styling for Generate Invoice Link */
.btn-generate-invoice {
    background-color: white;
    color: #012d74;
    border: 1px solid #012d74;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 18px;
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-generate-invoice:hover {
    color: white;
    background-color: #012d74;
}

