/* General styles for Invoice Management page */
.invoice-management-content {
  max-width: 1300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff00;
  border: 1px solid #dddddd00;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: -5px;
}

/* Invoice Search Bar Styles */
.invoice-search {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
.invoice-search-icon-left {
  position: absolute;
  left: 10px;
  top: 54%;
  transform: translateY(-50%);
}
.invoice-search-icon-right {
  position: absolute;
  right: 272px; 
  top: 53%;
  transform: translateY(-50%);
  opacity: 0.5;
}
.invoice-search-icon-left img,
.invoice-search-icon-right img {
  width: 20px;
  height: 20px;
}
.invoice-search-input {
  width: 75%;
  padding: 19px 30px 19px 30px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.invoice-search-input:focus{
  border-width: 1px;
  border-color: #a7a7a7;
  box-shadow: 0 0 3px #818181;
  outline: none;
}

/* Dropdown Filter CSS */
.invoice-dropdown {
  padding: 16px;
  margin-left: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  position: relative;
  width: 210px; 
  
}
/* Focus state for the dropdown */
.invoice-dropdown:focus-within {
  border-color: #a7a7a7; 
  box-shadow: 0 0 5px #818181(1, 61, 156, 0.5); 
  outline: none; 
}


.invoice-dropdown-placeholder {
  color: #818181;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  pointer-events: none; 
}

/* Icon for Filter by: */
.invoice-filter-icon img {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

/* Dropdown Content Styles */
.invoice-dropdown-content {
  display: none; 
  position: absolute;
  background-color: #f9f9f9;
  min-width: 227px; 
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 4px;
  padding: 10px;
  margin-top: 25px;
  margin-left: -17px;
}

/* Title above left and right columns */
.invoice-dropdown-title {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  text-align: left;
}

/* Left and right column styles */
.invoice-left, .invoice-right {
  font-size: 15px;
  display: inline-block;
  width: 48%; 
  vertical-align: top;
}

.invoice-left {
  border-right: 1px solid #ddd;
  text-align: left;
}

.invoice-right {
  text-align: right;
}

/* Hover and click effect for left column items */
.invoice-item {
  color: #333;
  cursor: pointer;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.invoice-item:hover, .invoice-item:active {
  background-color: #c4c4c4;
  color: #013d9c;
}

/* Show the dropdown content on click */
.invoice-dropdown.active .invoice-dropdown-content {
  display: block;
}

/* Hover and click effect for right column items */
.invoice-right p {
  color: #333;
  cursor: pointer;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.invoice-right p:hover, .invoice-right p:active {
  background-color: #c4c4c4;
  color: #012d74;
}



/* Invoice Table CSS */
.invoice-table {
  width: 100%;
  border-collapse: collapse;
}

.invoice-table th,
.invoice-table td {
  border: 1px solid #b8b8b8;
  text-align: center;
}

.invoice-table td.tamount {
  text-align: right; 
}

.invoice-table th {
  padding: 17px;
  background-color: #d9d9d9;
  color: black;
  font-weight: bold;
}

.invoice-table td {
  background-color: #fff;
  color: black;
  padding: 17px;
}

.invoice-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.invoice-table tr:hover {
  background-color: #f1f1f1;
}

/* Styles for Generate Report button */
.generate-report-container {
  text-align: right;
  margin-top: 20px;
  position: relative; 
}

.btn-generate-report {
  background-color:#E5E9F0;
  padding: 10px 20px;
  border: 1px solid #012d74;
  color: #012d74;
  border-radius: 18px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-generate-report:hover {
  color: white;
  background-color: #012d74;
}

/* Pop-up box styles */
.invoice-popup {
  display: none; 
  position: absolute;
  top: -230px; 
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.invoice-popup-title {
  text-align: left;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 25px;
}

/* Dropdown container styles */
.invoice-popup-dropdown-container {
  margin-bottom: 10px;
  text-align: left;
}

.invoice-popup-label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.invoice-popup-dropdown {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.invoice-popup-dropdown:focus {
  border-color: #a7a7a7;
  box-shadow: 0 0 3px #818181;
  outline: none;
}

/* Generate button styles */
.invoice-popup-generate-container {
  text-align: right;
  margin-top: 10px;
}

.invoice-popup-generate {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  display: inline-block;
  position: relative;
}

.invoice-popup-generate:hover {
  color: #0056b3;
}

.invoice-popup-generate:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #0056b3;
}

/* Button Styles */
.btn-view,
.btn-edit,
.btn-payment,
.btn-void,
.btn-insurance {
  display: inline-block;
  padding: 9px 12px;
  font-size: 12px;
  border-radius: 14px;
  margin-right: 1px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* View Button */
.btn-view {
  color: #007bff;
  border: 1px solid #007bff;
  text-decoration: none;
}
.btn-view:hover {
  background-color: #007bff;
  color: #fff;
}
/* Edit Button */
.btn-edit {
  color: #ffc107;
  border: 1px solid #ffc107;
  text-decoration: none;
}
.btn-edit:hover {
  background-color: #ffc107;
  color: #fff;
}

/* Payment Button */
.btn-payment {
  padding: 9px 7px;
  color: #28a745;
  border: 1px solid #28a745;
  text-decoration: none;
}
.btn-payment:hover {
  background-color: #28a745;
  color: #fff;
}
/* Void Button */
.btn-void {
  border: 1px solid #dc3545;
  color: #dc3545;
  text-decoration: none;
}
.btn-void:hover {
  color: white;
  background-color: #c82333;
}
/* Apply Insurance Button */
.btn-insurance {
  padding: 9px 7px;
  border: 1px solid #ff914d;
  color: #ff914d;
  text-decoration: none;
}
.btn-insurance:hover {
  color: white;
  background-color: #ff914d;
}
/* Mobile View Adjustments */
@media (max-width: 768px) {
  .invoice-table {
    font-size: 14px;
  }
}

/* Insurance Box Styles */
.insurance-box {
  display: none;
  position: absolute;
  background-color: white;
  color: white;
  padding: 20px;
  margin-top: -80px; /* Adjust position above button */
  margin-left: 10px;
  z-index: 10;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
  border: 1px solid rgb(168, 168, 168);
}

/* Title in the insurance box */
.insurance-box h3 {
  color: black;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

/* Insurance Option Buttons */
.insurance-option {
  display: block;
  background-color: white;
  color: #ff914d;
  text-decoration: none;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid  #ff914d;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.insurance-option:hover {
  background-color: #ff914d;
  color: white;
}

/* CSS for disabled buttons */
.disabled {
  pointer-events: none;
  opacity: 0.5; 
  cursor: not-allowed;
}

/* Styles for the void-confirmation modal */
.void-confirmation-modal {
  display: none; 
  position: fixed; 
  z-index: 1200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-color: rgba(0, 0, 0, 0.5); 
}

.void-confirmation-content {
  color: black;
  font-size: 16px;
  background-color: #fff;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  padding: 40px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.void-confirmation-confirm,
.void-confirmation-cancel {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  background-color: #fff;
}

.void-confirmation-confirm {
  color: #ff3131;
  border: 1px solid #ff3131;
}

.void-confirmation-confirm:hover {
  color: white;
  background-color: #f44336;
}

.void-confirmation-cancel {
  color: #00bf63;
  border: 1px solid  #00bf63;
}

.void-confirmation-cancel:hover {
  color: white;
  background-color:  #00bf63;
}
