.journal-content {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
}

.add-entry, .export-options {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

.btn-primary {
    background-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-info {
    background-color: #17a2b8;
}

.btn-warning {
    background-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-success {
    background-color: #28a745;
}

.btn-sm {
    padding: 5px 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f3c300;
}

.search-filter input {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-filter button {
    padding: 5px 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content-bu {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#batchUploadModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}





/* Overall CSS for Room Management*/

.room-cards-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap value as needed */
    margin-top: 20px;
}

.room-card {
    background-color: #cfcfcf;
    border: 1px solid #a1a1a180;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    align-items: center;
    width: 23%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.room-card-number {
    font-size: 45px;
    font-weight: bold;
    color: #012d74;
    margin-right: 60px; 
    flex-shrink: 0;
}

.room-card-text {
    text-align: right;
}

.room-card-text h3 {
    font-size: 18px;
    color: #012d74;
    margin: 0;
}

/* CSS for Search Bar */
.room-search-container {
    position: relative;
    width: 60%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 15px;
}

.room-search-input {
    width: 100%; /* Full width to occupy the container */
    padding: 20px 40px; /* Adjusted padding to fit icons */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.room-search-input:focus {
    border-width: 1px;
    border-color: #a7a7a7; 
    box-shadow: 0 0 3px #818181;
    outline: none; 
}

/* Left Icon inside the input */
.room-search-icon-left {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Left icon image styling */
.room-search-left-icon {
    width: 20px;
    height: 20px;
}

/* Right Icon inside the input */
.room-search-icon-right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Right icon image styling */
.room-filter-icon {
    width: 20px;
    height: 20px;
}

/* Dropdown Menu */
.room-search-dropdown {
    margin-top: 5px;
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 300px;
    padding: 15px;
    z-index: 1000;
}

.room-search-dropdown-title {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Columns Layout */
.room-search-columns {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
}

.room-search-left-column,
.room-search-right-column {
    background-color: #e0e0e052;
    color: black;
    width: 45%;
    font-size: 14px;
}

.room-search-left-column p,
.room-search-right-column p {
    margin: 5px 0;
}

/* Divider */
.room-search-divider {
    width: 1px;
    background-color: #ccc;
    margin: 0 10px; 
}



/* CSS FOR TABLE */
.room-table-container {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 80px;
}

.room-table {
    width: 98%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    color: black;
    
}
.room-table th, .room-table td {
    text-align: center;
    padding: 12px 15px;
    border: 1px solid #c4c4c4;

}

.room-table th {
    padding: 17px;
    background-color: #d9d9d9;
    color: rgb(0, 0, 0);
}

.room-table td {
    background-color: #f9f9f9;
    font-size: 15px;
}
.room-table th:nth-child(1){
    padding: 5px;
}
.room-table th:nth-child(2){
    padding: 5px;
}
.room-table th:nth-child(3){
    padding: 5px;
}

/* CSS for the Action Buttons */
.actions-column {
    width: 210px; 
    text-align: center;
}

.actions-cell {
    text-align: center;
}

.action-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background-color: #012d74;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.room-view-button {
    background-color: white;
    color: #53649c;
    border: 1px solid  #53649c;
    padding: 8px 15px;
    margin-right: 6px;
}
.room-view-button:hover {
    color: white;
    background-color: #3d4c7f; 
}

.room-edit-button {
    background-color: white; 
    color: #53649c;
    border: 1px solid #53649c;
    padding: 8px 15px;
    margin-right: 6px;
}
.room-edit-button:hover {
    color: white;
    background-color: #3d4c7f; 
}

.room-delete-button {
    color: #F44336;
    background-color:white; 
    border: 1px solid #F44336;
    padding: 8px 15px;
}
.room-delete-button:hover {
    color: white;
    background-color: #c9302c; 
}


/* CSS for Room Availability Modal */
.room-availability-modal {
    display: none; 
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.room-availability-modal-content {
    background-color: #fefefe;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.room-availability-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.room-availability-close:hover,
.room-availability-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.room-availability-modal h2 {
    margin-top: 0;
    font-size: 24px;
    color: #012d74;
}

/* CSS for the Divider */
.modal-divider {
    border: none;
    border-top: 1px solid #888; 
    margin-top: 10px;
    margin-bottom: 20px;
}

/* CSS for the Column Layout */
.room-columns {
    display: flex;
    justify-content: space-between;
}

.room-left-column, .room-middle-column, .room-right-column {
    flex: 1; 
    padding: 10px;
}

.room-left-column {
    margin-right: 10px;
}

.room-middle-column {
    margin: 0 10px; 
}


/* CSS for Room Availability Modal */
.room-availability-modal {
    display: none; 
    position: fixed; 
    z-index: 1003;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.room-availability-modal-content {
    background-color: #fefefe;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px;
    border: 1px solid #888;
    height: 65%;
    width: 80%;
    max-width: 800px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.room-availability-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.room-availability-close:hover,
.room-availability-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.room-availability-modal h2 {
    margin-top: 0;
    font-size: 24px;
    color: #012d74;
}


/* Css for Room Availability Modal */
.modal-divider {
    border: none;
    border-top: 1px solid #888; 
    margin-top: 10px;
    margin-bottom: 20px;
}

/* CSS for the Column Layout */
.room-columns {
    display: flex;
    justify-content: space-between;
}

.room-left-column, .room-middle-column, .room-right-column {
    flex: 1; 
    padding: 10px;
}

.room-left-column {
    margin-right: 10px; 
}

.room-middle-column {
    margin: 0 10px; 
    border-right: 1px solid #888; 
}

/* CSS for the Room Details Section */
.room-details-container {
    display: flex;
    align-items: flex-start; 
}

.door-icon-column {
    flex-shrink: 0; 
    padding-right: 20px;
}

.door-icon {
    width: 50px; 
    height: auto;
}

.room-info-column {
    text-align: left; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bed-number {
    font-size: 18px;
    font-weight: bold;
    color: #012d74;
    margin-bottom: 1px;
}

.room-type {
    font-size: 16px;
    color: #012d74;
    margin-bottom: 10px; 
}

/* New CSS for Empty Button */
.empty-room-button {
    color:  #d33126; 
    background-color: white;
    border: 1px solid  #d33126;
    border-radius: 18px;
    padding: 8px 15px;
    font-size: 13px;
    cursor: pointer;
  
}
.empty-room-button:hover {
    color: white;
    background-color: #d33126; 

}

/* New CSS for Additional Info Fields */
.room-additional-info {
    margin-top: 60px;
}

.status-field, .occupied-beds-field {
    margin-bottom: 15px;
}

.status-field label, .occupied-beds-field label {
    display: block;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
    font-size: 14px;
}

.status-field input, .occupied-beds-field select {
    width: 85%; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.status-field input::placeholder {
    color: #888;
}

.occupied-beds-field select {
    font-size: 16px;
}

/* CSS for Room Middle Column Table */
.beds-patients-table {
    margin-top: 20px;
}

/* CSS for Room Middle Column Table */
.beds-patients-table {
    margin-top: 20px;
}

.beds-patients-table h3 {
    font-size: 18px;
    color: #012d74;
    margin-bottom: 10px;
}

.beds-patients-table table {
    width: 90%;
    border-collapse: collapse;
}

.beds-patients-table th, .beds-patients-table td {
    color: #000;
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.beds-patients-table th {
    
    text-align: center;
    font-size: 15px;
    background-color: #f2f2f2;
    font-weight: bold;
}

.beds-patients-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* CSS for Hover Effect */
.beds-patients-table tr {
    cursor: pointer; 
}

.beds-patients-table tr:hover {
    background-color: #e0e0e0;
}

/* CSS for Patient Details */
#patient-details {
    padding: 10px;
    background-color: #f2f2f2;
    margin-top: 20px;
    position: relative; 
}

#patient-info {
    margin-bottom: 10px;
    font-size: 16px;
    color: #000000;
}

#additional-info, #extra-info1, #extra-info2 {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    display: none; 
    margin-top: 10px; 
}










