{% extends "base.html" %}

{% block title %}Patients Information{% endblock %}
{% block header_title %}Patients Information{% endblock %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hospital_patients.css') }}">
{% endblock %}

{% block content %}
<div class="patients-content">
    <div class="patients-title">
        <span class="back-patient-btn">
            <!-- <img src="{{ url_for('static', filename='images/left_icon.png') }}">-->
        </span>
        Patient List / <span class="hospital-patients"> Hospital Patients </span>
    </div>
    
<!-- Hospital Search Bar -->
<div class="hospital-search">
    <span class="hospital-search-icon-left">
        <img src="{{ url_for('static', filename='images/search_icon.png') }}" alt="Search Icon">
    </span>
    <input type="text" placeholder="Search Hospitals..." class="hospital-search-input">
    <span class="hospital-search-icon-right">
        <img src="{{ url_for('static', filename='images/updown_icon.png') }}" alt="Right Icon">
    </span>
  
    <!-- Dropdown Container -->
    <div class="hospital-dropdown" onclick="toggleDropdown()">
        <div class="hospital-dropdown-placeholder" id="hospital-dropdown-placeholder">
            <span>Filter by:</span> <!-- Placeholder text -->
            <span class="hospital-filter-icon">
                <img src="{{ url_for('static', filename='images/filter_icon.png') }}" alt="Filter Icon">
            </span>
        </div>
        <div class="hospital-dropdown-content" onclick="preventDropdownClose(event)">
            <!-- Filter by title -->
            <div class="hospital-dropdown-title">Filter by:</div>
            
            <div class="hospital-left">
                <!-- Content for the left column -->
               <!--   <p class="hospital-item" onclick="showRightColumnContent('Patient ID')">Patien ID</p>-->
                <p class="hospital-item" onclick="showRightColumnContent('Patient Type')">Patient Type</p>
            </div>
            <div class="hospital-right" id="hospital-right-content">
                <!-- Content for the right column -->
                <p>Select a filter</p>
            </div>
        </div>
    </div>
  </div>
  

    <!-- Hospital Patients Table -->
    <table class="hospital-patients-table">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Full Name</th>
                <th>Patient Type</th>
                <th>Contact Number</th>
                <th>Family Contact</th>
                <th>Action</th> <!-- Action column -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>INP001</td>
                <td>Elijah Katigbak</td>
                <td>In Patient</td>
                <td>09665487590</td>
                <td>09664522165</td> 
                <td><a href="{{ url_for('hospital_invoices') }}" class="btn-generate-invoice">Generate Invoice</a></td> 
            </tr>
            <tr>
                <td>OTP001</td>
                <td>Mary Rose</td>
                <td>Out Patient</td>
                <td>09768846412</td>
                <td>09760909654</td> 
                <td><a href="{{ url_for('hospital_invoices') }}" class="btn-generate-invoice">Generate Invoice</a></td> 
            </tr>
            <tr>
                <td>INP002</td>
                <td>Lisa Macy</td>
                <td>In Patient</td>
                <td>09734392038</td>
                <td>09730221509</td> 
                <td><a href="{{ url_for('hospital_invoices') }}" class="btn-generate-invoice">Generate Invoice</a></td> 
            </tr>
            <tr>
                <td>OTP002</td>
                <td>Joshua Hong</td>
                <td>Out Patient</td>
                <td>09438871187</td>
                <td>09430012732</td> 
                <td><a href="{{ url_for('hospital_invoices') }}" class="btn-generate-invoice">Generate Invoice</a></td> 
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/hospital_patients.js') }}"></script>
{% endblock %}
