{% for invoice in invoices %}
            <!-- Each invoice row -->
            <tr>
                <td>{{ invoice['invoice_id'] }}</td>
                <td>{{ invoice['customer_name'] }}</td>
                <td>{{ invoice['invoice_date'] }}</td>
                <td>{{ invoice['payment_status'] }}</td>
                <td>{{ invoice['approval_status'] }}</td>
                <td>₱{{ invoice['amount'] | round(2) }}</td>
                <td>
                    <a href="{{ url_for('invoice_view', invoice_id=invoice['invoice_id']) }}" class="btn-view">View</a>
                    <a href="{{ url_for('invoice_edit', invoice_id=invoice['invoice_id']) }}" class="btn-edit">Edit</a>
                    <a href="{{ url_for('payment', invoice_id=invoice['invoice_id']) }}" class="btn-payment" 
                       data-status="{{ invoice['payment_status'] }}" 
                       data-approval="{{ invoice['approval_status'] }}">Make Payment</a>
                    <a href="#" class="btn-insurance" 
                       data-status="{{ invoice['payment_status'] }}" 
                       data-approval="{{ invoice['approval_status'] }}" 
                       onclick="toggleInsuranceBox('{{ invoice['invoice_id'] }}')">Apply Insurance</a>
                
                    <!-- Hidden insurance box for this specific invoice -->
                    <div id="insurance-box-{{ invoice['invoice_id'] }}" class="insurance-box">
                        <h3>Apply Insurance</h3>
                        <a href="{{ url_for('invoice_coverage', invoice_id=invoice['invoice_id']) }}" 
                           class="insurance-option" onclick="handleCoverage()">Coverage</a>
                        <a href="{{ url_for('invoice_reimbursement', invoice_id=invoice['invoice_id']) }}" 
                           class="insurance-option reimbursement-option" 
                           onclick="handleReimbursement()">Reimbursement</a>
                    </div>
                
                    <a href="#" class="btn-void" onclick="return confirm('Are you sure you want to void this invoice?');">Void</a>
                </td>                             
            </tr>

            {% endfor %}