{% extends "base.html" %}

{% block title %}Invoice Management{% endblock %}
{% block header_title %}Invoice Management{% endblock %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/invoice.css') }}">
{% endblock %}

{% block compact_sidebar %}
<div class="compact-sidebar-item">
    <a href="{{ url_for('dashboard') }}">
        <img src="{{ url_for('static', filename='images/dashboard_icon.png') }}" alt="Dashboard Icon">
        <span>Dashboard</span>
    </a>
</div>
{% endblock %}

{% block content %}
<div class="invoice-content">
    <!-- Invoice Management Content -->
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/invoice.js') }}"></script>
{% endblock %}
